<div class="block">
	<div class="type">
		<%= text_field_tag :component, @sets[:component], placeholder: "Enter Data", disabled: @disabled[:component] %>
	</div>
	<div class="type">
		<%= label_tag :component_lbl, "Component (LAB, LEC, IND, SEM, FLD)" %>
	</div>
</div>