<div class="block">
	<div class="type">
		<%= text_field_tag :sec_descr, @sets[:sec_descr], placeholder: "Describe, if necessary", disabled: @disabled[:sec_descr] %>
	</div>
	<div class="type">
		<%= label_tag :sec_descr_lbl, "Description" %>
	</div>
</div>