<div class="block">
	<div class="type">
		<%= text_field_tag :section_id, @sets[:section], placeholder: "Enter Number", disabled: @disabled[:section] %>
	</div>
	<div class="type">
		<%= label_tag :class_nbr_lbl, "Section Number" %>
	</div>
</div>