<div class="block">
	<div class="type">
		<%= text_field_tag :session, @sets[:session], placeholder: "Enter Number", disabled: @disabled[:session] %>
	</div>
	<div class="type">
		<%= label_tag :session_lbl, "Session Number" %>
	</div>
</div>