<script>
$(document).ready(function()
{
  $('input:radio').click(function()
  {
    $.ajax(
    {
      url: "<%= update_room_list_sections_path %>",
      data: {
        desk: $("input:radio[name=desk]:checked").val(),
        chair: $("input:radio[name=chair]:checked").val(),
        board: $("input:radio[name=board]:checked").val()
      },
      dataType: "script"
    });

  });

});
</script>

<%= form_for @section, url: {controller: 'sections', action: @action} do %>

<div class= "sec-form">
	<div class="block">
    <div class="type">
    </div>
    <div class="type">
    </div>
    <div class="type">
      <%= render 'sections/pieces/piece_room', disabled: disable_room %>
    </div>
  </div>
</div>

<% end %>