<%= field_set_tag "Identification" do %>
<div class="clear">
	<%= render 'sections/pieces/identities/class_nbr', default: nil %>
</div>
<div class="clear">
	<%= render 'sections/pieces/identities/course' %>
</div>

<div class="clear">
	<%= render 'sections/pieces/identities/section' %>
</div>

<% end %>