/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html
{
	width:100%;
	height:100%;
}
body
{
	background-color: #cfcfcf;
	width:inherit;
	height:inherit;
	margin:0;
}

body a
{
	color: #c01010;
	text-decoration: none;
}

body a:hover
{
	color: #000000;
	font-weight: bold;
}

.ui.large.black.menu.absolute.top
{
	background-color:black;
	border-bottom:medium solid red;
	width:inherit;
	position:relative;
	top:0;
	left:0;
	margin:0;
}

.uno 
{
	background:url(logo-subsite-o-2.png);
}