// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-container
{
	background-color: #f1d3d3;
//	margin-top: 0.1em;
	margin-bottom: 0.08em;
	padding-top: 0.25em;
	width: 100%;
}

.course-info
{
	width: 100%;
	background-color: #ffdddd;
	display: inline-block;
}

.course-header-text
{
	font-size: 1.3em;
	font-family: sans-serif;
	color: #cc8888;
	vertical-align: middle !important;
	padding: 0;
	margin: 0;
}

.subject-catalog
{
	width: 14%;
	float: left;
	font-size: 1.3em;
	margin-left: 0.6em;
}

.course-name
{
	float: left;
}

.course-options
{
	float: right;
	text-align: right;
	vertical-align: middle;
}

.course-options a
{
	vertical-align: middle !important;
	margin-right: 1em;
	margin-top: 1.57em !important;
	padding: 0 !important;
	font-size: 1.3em !important;
	font-family: sans-serif !important;
	color: #bb9999 !important;
}

.course-options a:hover
{
	color: #884444 !important;
	text-decoration: underline;
	font-weight: normal !important;
}

.course-options a:visited
{

}

.sections-container
{
	min-height: 5em;
	background-color: #f4d2d2;
	font-family: sans-serif;
	//color: #551111;
}

.alrt { float: right; }
.allt { float: left;  }
.inblk { display: inline-block; }
.full { width: 100%; }
.half { width: 50%; }
.quart { width: 25%;}
.lmargin { margin-left: 0em; }
.rmargin { margin-right: 0em; }
.mbot { margin-bottom: 0.4em; }
.rtalign { text-align: right;}
.section-divider
{
	height: 1px;
	width: 100%;
	background-color: #e3c1c1;
}