// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-container
{
	background-color: #f1d3d3;
//	margin-top: 0.1em;
	margin-bottom: 0.08em;
	padding-top: 0.25em;
	width: 100%;
}

.course-info
{
	width: 100%;
	background-color: #ffdddd;
	display: inline-block;
}

.course-header-text
{
	font-size: 1.3em;
	font-family: sans-serif;
	color: #cc8888;
	vertical-align: middle !important;
	padding: 0;
	margin: 0;
}

.subject-catalog
{
	width: 14%;
	float: left;
	font-size: 1.3em;
	margin-left: 0.6em;
}

.course-name
{
	float: left;
}

.course-options
{
	float: right;
	text-align: right;
	vertical-align: middle;
}

.course-options a
{
	vertical-align: middle !important;
	margin-right: 1em;
	margin-top: 1.57em !important;
	padding: 0 !important;
	font-size: 1.3em !important;
	font-family: sans-serif !important;
	color: #bb9999 !important;
}

.course-options a:hover
{
	color: #884444 !important;
	text-decoration: underline;
	font-weight: normal !important;
}

.course-options a:visited
{

}

.sections-container
{
	min-height: 5em;
	background-color: #f4d2d2;
	//font-family: sans-serif;
	//color: #551111;
	margin-bottom: 1.2em;
	margin-top: -0.1em;
}

.alrt { float: right; }
.allt { float: left;  }
.inblk { display: inline-block; }
.full { width: 100%; }
.half { width: 50%; }
.quart { width: 25%;}
.lmargin { margin-left: 0em; }
.rmargin { margin-right: 0em; }
.mbot { margin-bottom: 0.4em; }
.rtalign { text-align: right;}

.section-row
{
	height: 1.2em;
	display: inline-block;
	width: 100%;

	padding-top: 0.1em;
	padding-bottom: 0.1em;

	border-bottom-width: 1px;
	border-bottom-color: #eac8c8;
	border-bottom-style: solid;
}

.sec-element
{
	font-family: sans-serif;
	color: #441111;
}

.sel-lt
{
	float: left;

	font-weight: bold;

	margin-left: 1em;
	width: 30%;
}

a:hover .section-row
{
	font-weight: normal !important;
	text-decoration: none !important;
//	margin: 0;
//	padding: 0;
}

.sel-rt
{
	float: left;
	width: 60%;

}

.sec-comb
{
	background-color: #ffdddd;
	margin-bottom: 0.08em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	width: 100%;

	font-family: sans-serif;
	font-size: 1em;
	letter-spacing: 0.1em;
	color: #e3a1a1;

	border-top: 0.2em;
	border-top-style: solid;
	border-top-color: #e3c1c1;

	border-bottom: 0.2em;
	border-bottom-style: solid;
	border-bottom-color: #e3c1c1;
}

.sec-comb div
{
	margin-left: 1em;
}

.section-divider
{
	height: 3px;
	width: 100%;
	background-color: #e3c1c1;

	margin-top: -4px;
	margin-bottom: 0.23em;
}