// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sec-form
{

}

.block
{
	display: inline-block;
	width: 100%;
}

.block .type
{
	float: left;
	width: 20%;
}
.sec-time
{

}