	<%= field_set_tag name do %>
	<% @room_props[type].each do |p| %>
	<div>
		<% if p.nil? %>
		<%= radio_button_tag(type, p, true, readonly: disabled) %>
		<% else %>
		<%= radio_button_tag(type, p, false, readonly: disabled) %>
		<% end %>
		<%= label_tag(p, (p.nil? ? "Don't care" : p)) %>
	</div>
	<% end %>
	<% end %>